/* TailwindCSS*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Google Fonts Typography*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* HTML5 display-role reset for browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Global variables */
:root {
  --primary-color: #FFF;
  --second-color: #bbbbbb;
  --third-color: #282828;
  --pink-color: #e6a6ff;

  font-size: 62.5%;
}

/* Global */
.hide {
  display: none;
}


/* =============  Body  ================== */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/* =============  Navigation ================ */
nav {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6rem;

  border: solid #dedede;
  border-radius: 4rem;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  padding: 1.2rem;
}

nav ul a {
  color: var(--third-color);
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: var(--third-color);
  font-weight: bold;
  border-bottom: 2px solid var(--pink-color);
  transition: ease-in 400ms;
}

nav #loguinha {
  width: auto;
  height: 3rem;
}

/* =============  App content ================ */

#app {
  align-items: center;
  display: flex;
  justify-content: center; /* Center content horizontally inside the #app */
  margin-top: 12rem;
  position: relative;
  padding: 1.6rem;
  text-align: center;
  left: 0; /* Add this */
  right: 0; /* And this */
  margin-left: auto; /* And this */
  margin-right: auto; /* And this */
}


/* =============  Map ================ */

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

#card {
  width: 30%;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2)
}

#map {
  flex: 1;
  height: 120px;
  max-width: 160px;
}

#card-txt {
  padding-left: 3%;
  padding-right: 3%;
}


#journalForm {
  font-family: "Roboto", sans-serif;

  border: 1.2px solid #dedede;
  border-radius: 1.2rem;

  width: 80%;
  min-height: 8rem;
  margin: 0 auto; 
  text-align: center;
}

#journalForm ul {
  flex-direction: column;
  margin-top: 0.6rem;
}

#journalForm .button-container {
  display: flex;
  justify-content: center
}

#journalForm .button-container button {
  transition: filter 0.3s ease;
}

#journalForm .button-container button:hover {
  filter: brightness(80%);
}

#journalForm button {
  margin-top: 1rem;
}

#journalForm button#addEntry {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.8rem;
}

main.about-page{
  font-family: "Roboto", sans-serif;
}